@font-face {
    font-family: awesomeNewsFont;
    src: url("../fonts/oldNewspaper.ttf");
}

* {
    font-family: "awesomeNewsFont";
}

body {
    background-image: url("../images/awsomeBackground.jpg");
    background-repeat: repeat;
}

.glyphicon {
    font-size: 1.2em;
}

#content {
    position: relative;
    padding-left: 30px;
    padding-bottom: 30px;
}

.awesomeLogo {
    margin: 15px;
}

h1 {
    font-size: 1.8em;
}

.thumbnail {
    height: 300px;
    text-align: center;
}

.thumbnail img {
    margin-top: 30px;
    vertical-align: middle;
}

.content {
    padding: 15px;
}

.profile-select {
    margin: 10px;
    padding: 15px;
    height: 200px;
}

.profile-select p {
    padding: 15px;
}

.media-save-btn{
    position: relative;
    left: 40%;
    width: 35%;
}

footer {
    left: 0px;
    bottom: 0px;
    width: 100%;
}
footer p { 
    color: darkslategray;
}
